@import "../../../styles/colors";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 18px;
  margin-bottom: 42px;

  .header__element {
    width: 100%;

    &--left {
      justify-content: left;
      align-items: center;
      display: flex;
    }

    &--center {
      justify-content: center;
      align-items: center;
      display: flex;

      img {
        width: 75px;
        height: 23px;

        @media screen and (min-width: 768px) {
          width: 96px;
          height: 29px;
        }

        @media screen and (min-width: 1440px) {
          width: 120px;
          height: 36px;
        }
      }
    }

    &--right {
      justify-content: right;
      align-items: center;
      display: flex;
    }
  }
}
