@import "../../../styles/colors";

.collage__container {
  max-width: 375px;
  overflow: hidden;
  position: relative;
  height: 300px;
  background-color: $fill-background;
}

.collage__package {
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.collage__flower {
  &--left {
    height: 195px;
    position: absolute;
    bottom: -1px;
    left: 35px;
    z-index: 5;
  }

  &--right {
    height: 305px;
    position: absolute;
    bottom: -45px;
    right: -35px;
    overflow: hidden;
    z-index: 5;
  }
}

.collage__hexagon {
  height: 185px;
  position: absolute;
  bottom: 37px;
  left: 33px;
  overflow: hidden;
  z-index: 1;
}

.collage__dots {
  height: 208px;
  position: absolute;
  bottom: 24px;
  right: 19px;
  overflow: hidden;
  z-index: 1;
}