$white: #fff;
$black: #000;

$font-primary: #0d0566;
$font-secondary: #616161;

$button-primary: #110767;
$button-selected: #ff4dcb;

$gradient-main: #3944a6;
$gradient-secondary: #ee7eaa;
$gradient-middle1: #cf69aa;
$gradient-middle2: #a958ab;
$gradient-middle3: #7b4caa;

$fill-background: #f7f7ed;

$underline: #75d9c4;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
