$white: #fff;
$black: #000;

$font-primary: #0D0566;

$button-primary: #110767;

$gradient-main: #3944a6;
$gradient-secondary: #ee7eaa;
$gradient-middle1: #cf69aa;
$gradient-middle2: #a958ab;
$gradient-middle3: #7b4caa;

$fill-background: #F7F7ED;

$underline: #75D9C4;