@import '../../styles/colors';

html {
    scroll-behavior: smooth;
}

body {
    background-color: $fill-background;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}

.app__spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 0;
}
