@import '../../styles/colors';
@import '../../styles/fonts';

.results__container {
  position: relative;
  border-bottom-left-radius: 60% 12%;
  border-bottom-right-radius: 60% 12%;
  height: 680px;
  width: 100%;
  background-image: radial-gradient(
    circle,
    $gradient-secondary,
    $gradient-middle1,
    $gradient-middle2,
    $gradient-middle3,
    $gradient-main
  );

  &--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .results-body__title {
    color: $white;
    font-family: $font-primary;
    font-size: 18px;
    height: 40px;
    text-align: center;
    margin-bottom: 29px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  .results-body__image {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .results-body__name {
    color: $white;
    display: flex;
    font-size: 28px;
    font-family: $font-primary;
    height: 40px;
    justify-content: center;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  .results-body__details {
    color: $white;
    display: flex;
    font-family: $font-extra;
    font-size: 16px;
    justify-content: center;
    line-height: 24px;
    margin: 0 32px 40px 32px;
    opacity: 0.7;
    text-align: center;

    @media screen and (min-width: 768px) {
      max-width: 415px;
    }
  }
}
