@import "../../../styles/colors";
@import "../../../styles/fonts";

.see-product {
  &__container {
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }

  &__icon {
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    height: 48px;
    justify-content: center;
    position: relative;
    width: 48px;
    box-shadow: 0px 1px 10px grey;
  }

  &__text {
    min-width: 220px;
    color: $white;
    font-family: $font-extra;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 20px;
  }
}
