@import "../../styles/colors";
@import "../../styles/fonts";

.rotation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    circle,
    $gradient-secondary,
    $gradient-middle1,
    $gradient-middle2,
    $gradient-middle3,
    $gradient-main
  );
  position: relative;
  top: -5px;
  width: 100%;
}

.rotation__title,
.rotation__subtitle {
  margin: 0;
  color: $white;
  text-align: center;
  font-weight: normal;
}

.rotation__title {
  font-family: $font-primary;
  font-size: 34px;
  padding-top: 72px;
  margin-bottom: 20px;
}

.rotation__subtitle {
  padding: 0 40px;
  font-family: $font-secondary;
  font-size: 14px;
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    opacity: 0.6;
    margin-bottom: 113px;
  }
}

.rotation__schedule {
  width: 300px;
  height: 300px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 432px;
    margin-bottom: 106px;
    max-width: 672px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 850px;
    height: 450px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1200px;
    height: 720px;
  }
}

.rotation__list {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 315px;    
  }

  @media screen and (min-width: 1024px) {
    position: absolute;
    margin-top: 90px;
    right: 100px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 125px;
    right: 150px;
  }
}

.text-enter {
  opacity: 0.01;
}

.text-enter.text-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.text-leave {
  opacity: 1;
  visibility: hidden;
}

.text-leave.text-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.rotation__schedule--text {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    position: absolute;
    height: 432px;
    justify-content: center;
    width: 220px;
  }

  @media screen and (min-width: 1024px) {
    position: relative;
    margin-bottom: 28px;
    height: 72px;
    width: 300px;
  }

  @media screen and (min-width: 1440px) { 
    right: 0;
    height: 90px;   
    width: 400px;
  }
}

.rotation__day {
  font-family: $font-secondary;
  font-size: 14px;
  margin: 80px 0 0 0;

  @media screen and (min-width: 768px) {
    margin: 175px 0 0 0;
  }

  @media screen and (min-width: 1440px) {
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
}

.rotation__description {
  text-align: center;
  opacity: 0.6;
  font-family: $font-secondary;
  font-size: 14px;
  max-width: 180px;
  line-height: 24px;
  margin-bottom: 225px;

  @media screen and (min-width: 768px) {
    max-width: 220px;
  }

  @media screen and (min-width: 1440px) {
    margin: 0;
    padding: 0;
    max-width: 375px;
    font-size: 20px;
  }
}

.rotation__img--hexagon {
  position: absolute;
  text-align: center;
  width: 280px;
  height: 300px;
  z-index: 10;

  @media screen and (min-width: 768px) {
    width: 412px;
    height: 432px;
    right: 0;
  }

  @media screen and (min-width: 1024px) {
    width: 500px;
    height: 520px;
  }

  @media screen and (min-width: 1440px) {
    width: 700px;
    height: 720px; 
  }
}

.rotation__img--glass-guy {
  width: 120px;
  height: 160px;
  left: 0;
  bottom: 32px;
  position: absolute;
  z-index: 1;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 448px;
    top: -8px;
  }

  @media screen and (min-width: 1024px) {
    width: 375px;
    height: 500px;
  }

  @media screen and (min-width: 1440px) {
    top: 0;
    left: 0;
    width: 540px;
    height: 720px;
  }
}

.rotation__button-container {
  display: flex;
  width: 195px;
  justify-content: space-between;
  margin-bottom: 112px;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.rotation__button {
  cursor: pointer;
  color: $white;
  width: 0;
  border: 6px solid black;
  border-radius: 50%;
  opacity: 0.4;
  mix-blend-mode: normal;
  box-shadow: 0px 2px 6px black;

  &--selected {
    opacity: 1;
    border-color: $button-selected;
  }

  &:not(.rotation__button--selected):hover {
    border-color: lighten($gradient-main, 10%);
  }
}

.rotation__divisor {
  border-bottom: 1px solid $white;
  width: 300px;
  margin-bottom: 100px;

  @media screen and (min-width: 768px) {
    width: 576px;
  }
}
